@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

.opendrawer {
  padding-top: 10;
  background-color: #fff;
  animation-name: moveInLeft;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  width: 45vw;
  height: 100vh;
  /* z-index: 1; */
  /* box-shadow: 0 1.5rem 4rem rgba(#000, 0.15); */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      0 0 10px rgba(255, 0, 0, 0.5) inset; */
}
